# personal files to ignore
index.old
clean.txt
init-telegram.ps1
start-bridge.ps1
Команды GIT в рендер.txt
Новый коммит в GitHub.ps1

# auth / session dirs
.env
auth/
auth_info/
auth_info_baileys/
tmp/
*.log
logs/
